body {
    background-color: rgb(233,233,233) ;
}
/*设置字体，并指定在哪里可以找到他的url*/
@font-face {
	font-family: Yanti;/*Yanti名称可以随便写，但是要和下面的font-family名称一致*/
	src: url('images/yanti.ttf');
}

/*------------------左侧导航栏------------------------*/
.nav {
	float: left;
	position: fixed;
	width: 25%;
	height: 100%;
	background-color: gray;
	background-image: url(http://upload.jianshu.io/daily_images/images/Czsixn23v5cAeKuwMnEu.jpg);
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-position: center;
    background-size: cover;
}

/*方案一*/
/*
.nav_header {
	height: 25%;
}
.nav_img {
	width: 160px;
	height: 30%;
	margin: 0 auto;
	opacity: 0.8;
}
.nav_img img{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: -75px;
	border-radius: 75px;
}
.nav_tag {
	width: 100%;
	height: 50%;
	margin-top: -20%;
}
.nav_tag_list {
	width: 80%;
	margin: 0 auto;
	list-style: none;
	padding: 0px;加上这句ul就能居中，邪了门了

}
.nav_tag_list li{
	margin-top: 5px;
	text-align: center;
	height: 20px;
	padding: 10px;
	line-height: 20px;

}
.nav_tag_list li a {
	padding: 10px;
	border-radius: 20px;
	border: 1px white solid;
	text-decoration: none;
	color: white;
}
.nav_tag_list li a:hover {
	color: rgb(121,189,71);
	font-size: 20px;
}
.nav_footer {
	text-align: center;
	color: yellow;
}
.nav_footer a {
	text-decoration: none;
	font-size: 12px;
}
*/

/*方案二*/
.nav_introduce {
	height: 96%;
}
.nav_introduce_none {
	height: 80%;
}
.nav_introduce_header {
	height: 10%;
	line-height: 20%;
	width: 70%;
	margin: 0 auto;
	color: white;
	font-size: 40px;
}
.nav_introduce_header a {
	text-decoration: none;
	color: white;
}
.nav_introduce_content {
	height: 10%;
	line-height: 20%;
	width: 70%;
	margin: 0 auto;
	color: white;
	font-size: 25px;
}
.nav_footer {
	height: 4%;
	text-align: center;
}
.nav_footer a {
	font-size: 12px;
	color: yellow;
	text-decoration: none;
}

/*------------------右侧文本栏------------------------*/

/*#############################################*/
/*方案二*/
.content_nav {
	top: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	/*background-color: rgb(62,181,43);*/
	background-color: rgb(233,233,233);
}
/*.content_nav ul {
	display: block;
}*/
.content_nav ul li {
	float: left;
	list-style: none;
	/*width: 100px;*/
}
.content_nav ul li a {
	padding: 10px;
	margin-right: 20px;
	color: black;
	font-size: 14px;
	text-decoration: none;
	border-radius: 18px;
	border: 1px gray solid;
}
#content_active {
	color: white;
	background-color: rgb(222,107,93);
	/*font-size: 40px;*/
}
/*#############################################*/

.content {
	float: left;
	position: absolute;
	width: 75%;
	margin-left: 25%;
	/*background-color: green;*/
}
.article_body {
	width: 90%;
	margin: 0 auto;
	background-color: white;
	margin-top:10px; 
	padding: 10px 10px 0px 10px;
}
.article_title {
	border-left: 5px black solid;
	height: 50px;
}
.article_title a {
	text-decoration: none;
	line-height: 50px;
	font-size: 25px;
	margin-left: 20px;
	color: black;
}
.article_title a:hover {
	color: green;
}
.article_content {
	color: gray;
	max-height: 80px;
	overflow: hidden;
}
.article_footer {
	border-top: 1px black dashed;
	padding: 10px;
	height: 20px;
	color: gray;
	font-size: 12px;
	
}
.article_footer_div {
	float: left;
}
.article_footer_div img{
	width: 20px;
	height: 20px;
	vertical-align:middle;
}
.article_footer_div_tag {
	margin-left: 20px;
}


/*-------------详情页----------------------*/
.detail_body {
	width: 90%;
	margin: 0 auto;
	background-color: white;
	margin-top:10px; 
	padding: 10px 20px;
}
.detail_article_title {
	text-align: center;
}
.detail_article_pub-date {
	text-align: center;
	color: gray;
}
.detail_article_nav {
	width: 90%;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgb(233,233,233);
}
.detail_article_last_article {
	float: left;
}

.detail_article_next_article {
	float: right;
}
.detail_article_nav a {

	text-decoration: none;
}
.detail_article_nav a img {

	width: 20px;
	height: 20px;
}
















