<!DOCTYPE html>
<html>
	<meta charset='utf-8'>
	<head>
		<title>{% block title %}Dory的博客{% endblock %}</title>
	</head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}" />
	<link rel="icon" href="{% static 'blog/images/blog.png' %}"/>
	<body>
		<div class='nav'>
			<!-- 方案一 -->
			<!-- <div class='nav_header'></div>
			<div class='nav_img'>
				<img src="{% static 'blog/images/icon.jpg' %}" alt="" >
			</div>
			<div class="nav_tag">
				<ul class='nav_tag_list'>
					<li><a href="">所有文章</a></li>
					<li><a href="">python</a></li>
					<li><a href="">iOS</a></li>
					<li><a href="">svn/git</a></li>
					<li><a href="">随笔</a></li>
					<li><a href="">关于我</a></li>
				</ul>
			</div>
			<div class="nav_footer">
				<a href="http://www.miitbeian.gov.cn/" target='_blank'>京ICP备16064841号</a>
			</div> -->

			<!-- 方案二 -->
			<div class="nav_introduce">
				<div class="nav_introduce_none"></div>
				<div class="nav_introduce_header">
					<a href="">Dory</a>
				</div>
				<div class="nav_introduce_content">
					分享、沟通
				</div>
			</div>
			<div class="nav_footer">
				<a href="http://www.miitbeian.gov.cn/" target='_blank'>京ICP备16064841号</a>
			</div>
		</div>
		<div class="content">
			<!-- 方案二 -->

			<div class='content_nav'>
				<ul>
					<li>
						<a href="{% url 'blog:index' %}" >所有文章</a>
						<!--id='content_active'-->
					</li>
					<li>
						<a href="{% url 'blog:articleByTag' tag='python' %}">python</a>
					</li>
					<li>
						<a href="{% url 'blog:articleByTag' tag='iOS' %}">iOS</a>
					</li>
					<li>
						<a href="{% url 'blog:articleByTag' tag='git' %}">svn/git</a>
					</li>
					<li>
						<a href="{% url 'blog:articleByTag' tag='essay' %}">随笔</a>
					</li>
					<li>
						<a href="{% url 'blog:about' tag='about' %}">关于我</a>
					</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			{% block content %}
				文章正文
			{% endblock %}
		</div>




		
	</body>
</html>