{% extends "blog/base.html" %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}" />

{% block content %}

	{% if article_list %}
	    
	    {% for article in article_list %}

			<div class='content_nav'>
				<ul>
					<li><a href="" id='content_active'>所有文章</a></li>
					<li><a href="{% url 'blog:articleByTag' article.article_tag %}">python</a></li>
					<li><a href="{% url 'blog:articleByTag' article.article_tag %}">iOS</a></li>
					<li><a href="{% url 'blog:articleByTag' article.article_tag %}">svn/git</a></li>
					<li><a href="{% url 'blog:articleByTag' article.article_tag %}">随笔</a></li>
					<li><a href="about.html">关于我</a></li>
				</ul>
			</div>
			<br>
			<br>
			<br>


	    	{% autoescape off %}

				<div class="article_body">
					<div class='article_title'>
			        	<a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
			        </div>
			        <br>
			        <div class="article_content">
			        	{{ article.content }}
			        </div>
			        <br>
			        <div class="article_footer">
			        	<div class="article_footer_div">
			        		<img src="{% static 'blog/images/time.png' %}" alt="">
			        		&nbsp;{{ article.pub_date }}
			        	</div>
			        	<div class="article_footer_div article_footer_div_tag">
			        		<img src="{% static 'blog/images/tag.png' %}" alt="">
			        		&nbsp;{{ article.article_tag }}
			        	</div>
			        	<div class="article_footer_div article_footer_div_tag">
			        		<a href="" class='article_footer_div_good'>
			        			<img src="{% static 'blog/images/good-selected.png' %}" alt="">
			        			&nbsp;{{ article.star }}
			        		</a>
			        		
			        	</div>
			        </div>
			        
				</div>
	        {% endautoescape %}
	        
	    {% endfor %}
	    
	{% else %}
	    <p>没有相关文章</p>
	{% endif %}


{% endblock %}
